{% load i18n future pages_tags %}

{% spaceless %}
<ul>
    <li><a href="#" class="back-up">Back To Top</a></li>
    <li><a href="/#contact" class="contact-link">Sign Up</a></li>
    <li><a href="https://secure.verifip.com/sign_in">Sign In</a></li>
</ul>
<ul>
    <li><a href="/#features" class="feature-link">Library Features</a></li>
    <li><a href="/#social" class="social-link">Social Collaboration</a></li>
    <li><a href="/#alerts" class="alerts-link">Alerts and Reminders</a></li>
</ul>

{% if page_branch_in_menu %}

{% for column in menu_columns %}
<ul>
    {% for page in column %}
    <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}

{% endif %}
{% endspaceless %}
