<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
{% block extra_css %}{% endblock %}
{% endcompress %}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
{% compress js %}
<script src="{% static "js/verifip.js" %}" type="text/javascript"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}


{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">

<header class="row">
  <hgroup>
    <a href="#" class="logo"></a>
    <div class="main-nav">
      <nav>
        <ul>
          <li><a href="#" class="menu-item  btn btn-start hide-phone">Get Started</a></li>
        
          {% page_menu "pages/menus/dropdown.html" %}

        </ul>
      </nav>
    </div>
  </hgroup>
</header>


{% block main %}{% endblock %}


<footer class="row">
  <article>
    <nav>
      {% page_menu "pages/menus/footer.html" %}
      <ul>
        <li><a href="#" class="back-up" >Back To Top</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
      <ul>
        <li><a href="#" class="feature-link" >Library Features</a></li>
        <li><a href="#" class="social-link" >Social Collaboration</a></li>
        <li><a href="#" class="alerts-link" >Alerts and Reminders</a></li>
      </ul>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Security Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQ's</a></li>
        <li><a href="#">Tutorials</a></li>
      </ul>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact on Facebook</a></li>
        <li><a href="#">Follow us on Twitter</a></li>
      </ul>
    </nav>
  </article>
  <div class="row">
    <div class="copyright">
      <p>&copy; 2009-2013 VerifIP&reg;. All rights reserved.</p>
    </div>
  </div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
